<!DOCTYPE html>
<html>
<head>
    <title> OpenTok Getting Started </title>
    <link rel="stylesheet" href="/stylesheets/session.css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script>
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
</head>
<body>

    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>

    <% include ../scripts/sessionScript %>
</body>
</html>