<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Their Stories</h1>
                <p>A collection of Ellis family stories and conversations</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/stories/new">Add New Story</a>
                </p>
            </div>
        </header>
    
        <ul>
            <% stories.forEach(function(story) { %>
                <li>
                    <h4>
                        <a href="/stories/<%= story._id %>"><%= story.title %></a>
                    </h4>
                    <iframe src="https://youtube.com/embed/<%= story.youtubeID %>" 
                        width="560" height="315" frameborder="0" allowfullscreen>
                    </iframe>
                    <hr />
                </li>
            <% }); %>
        </ul>
    
    </div>

<% include ../partials/footer %>

